* {
    margin: 0;
    padding: 0;
}

header,
footer {
    padding: 0 60px
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #082369
}

nav li {
    display: inline;
}

nav li:first-child {
    margin-right: 17px;
}

nav a {
    color: white;
    font-family: 'Verdana', sans-serif;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: orange;
}

h1 {
    color: white;
    text-align: center;
    justify-content: space-between;
    background: blue;
    padding: 10px 0px;
    font-family: 'Bree Serif';
    font-size: 40px;
}

div {
    padding-top: 10px;
    color: white;
    text-align: center;
    background: rgb(112, 100, 100);
    height: 400px;
}

div input {
    height: 20px;
}

div input,
div textarea,
div button {
    margin-top: 5px;
    width: 250px;
    padding: 5px;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
    border: none;
    border-radius: 4px;
}

div textarea {
    resize: vertical;
}

div button {
    width: 260px;
    font-size: 18px;
}


footer {
    color: white;
    text-align: center;
    background: gray;
    height: 115px;
}

@media (max-width: 500px) {

    header,
    footer {
        padding: 0 20px
    }
}