* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #082369
}

body>* {
    padding: 0px 60px
}

nav li {
    display: inline;
}

nav li:first-child {
    margin-right: 17px;
}

nav a {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #99330E;
    text-decoration: underline;
}

nav a:active {
    color: green;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main>* {
    height: 400px;
    background-color: #fff;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
    border-radius: 10px;
}

.info,
.titulos {
    width: 20%;
    overflow-y: auto;
}

.origem {
    width: 40%;
}

.info h2 {
    text-align: center
}

.info p {
    margin-left: 20px;
    margin-top: 15px;
}

.origem p {
    text-align: justify;
}

.origem,
.titulos {
    padding: 10px;
}